  <footer class="footer">
    <p>You need to be logged in!</p>
    <p> This is for entertainment only!</p>
    <p>Built with Socket.IO, Express, and MongoDB</p>
  </footer>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket.js"></script>
</body>
</html>
